.login-container {
min-height: 130vh;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(135deg,#fff6d9,#f5f5f5);

}
.login-card {
width: 380px;
background: #fff;
padding: 30px;
border-radius: 18px;
box-shadow: 0 15px 40px rgba(0,0,0,.15);
text-align: center;

}
label {
display: block;
text-align: left;
font-weight: 600;
margin-top: 12px;
}
.input-group {
display: flex;
align-items: center;
border: 1px solid #ddd;
border-radius: 10px;
padding: 8px;
margin-top: 5px;
}
input {
border: none;
outline: none;
width: 100%;
}
button {
margin-top: 25px;
width: 100%;
padding: 12px;
background: #000000;
color: #ffffff;
font-weight: bold;
border: none;
border-radius: 10px;
cursor: pointer;
}
button:hover {
opacity: .8;
}
.back {
margin-top: 20px;
}

/* ====================== */
/* RESPONSIVE */
/* ====================== */

/* Tablet */
@media (max-width:768px){

.login-card{
padding:25px;
}

}

/* Móvil */
@media (max-width:480px){

.login-container{
padding:15px;
}

.login-card{
padding:20px;
border-radius:14px;
}

label{
font-size:14px;
}

input{
font-size:13px;
}

button{
padding:11px;
font-size:15px;
}

}